<div class="govuk-grid-row">
  <ol class="air-quality-alerts">
    <% alerts.each do |alert| %>
      <div class="govuk-grid-column-one-third">
        <% alert_classes =
          ["alert-level-#{ ActiveSupport::Inflector.dasherize(alert.daqi_level.to_s) }",
          "alert-score-#{alert.value}"]
          .join(" ")
        %>
        <li
          class="air-quality-alert <%= alert_classes %>"
          data-alert-date=<%= alert.date %>
        >
          <div class="heading">
            <%= govuk_tag(
              text: alert.daqi_label.upcase,
              colour: alert.tag_colour.to_s,
              html_attributes: { class: "alert-level" }
              )
            %>
            (<%= alert.value %> / 10)
          </div>
          <p class= "govuk-body body">
            There is a
            <%= alert.daqi_label.upcase %>
            air quality alert for
            <%= alert.date.strftime("%d %b %Y") %>
          </p>
          <%= govuk_details(
            summary_text: t(
              "air_quality_alert.#{alert.daqi_level}.guidance.title"),
            text: t(
              "air_quality_alert.#{alert.daqi_level}.guidance.detail_html"),
            html_attributes: {class: "guidance"}
          ) %>
        </li>
      </div>
    <% end %>
  </ol>
</div>
