<section class="container">
  <div class="row">
    <article class="col">
      <h1>Forecasts</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <aside class="air-quality-alerts">
            <% if @air_quality_alerts.empty? %>
              <%= govuk_notification_banner(
                title_text: "No air quality alerts",
                text: "Enjoy your usual outdoor activities.",
                success: true
              ) %>
            <% else %>
              <%= render partial: "air_quality_alerts", locals: {alerts: @air_quality_alerts} %>
            <% end %>
          </aside>
        </div>
      </div>
      <form method="GET" action="<%= forecast_path %>">
        <label for="zone">
          Which area are you interested in?
        </label>
        <%= select_tag :zone, options_for_select(@zones), prompt: 'Select an area' %>
        <button type="submit" data-prevent-double-click="true">View forecast</button>
      </form>
      <%= govuk_table do |table|
        table.with_caption(size: 'm', text: "Three day forecast for #{@forecasts.first.zone.name}")

        table.with_head do |head|
        head.with_row do |row|
        row.with_cell(text: '')
        @forecasts.map { |forecast|
          row.with_cell(text: forecast.forecast_for.to_formatted_s(:short))
        }

        end; end; table.with_body do |body|
        body.with_row(html_attributes: {class: "air-pollution"}) do |row|
        row.with_cell(text: 'Air pollution')
        @forecasts.map { | forecast|
          row.with_cell(
            text: forecast.air_pollution.overall_label,
            html_attributes: { "data-date" => forecast.forecast_for}
          )
        }
        end;
        body.with_row(html_attributes: {class: "uv"}) do |row|
        row.with_cell(text: 'UV')
        @forecasts.map { | forecast|
          row.with_cell(
            text: "#{forecast.uv.daqi_label} - #{forecast.uv.guidance}",
            html_attributes: { "data-date" => forecast.forecast_for}
          )
        }
        end;
        body.with_row(html_attributes: {class: "pollen"}) do |row|
          row.with_cell(text: 'Pollen')
          @forecasts.map { | forecast|
            row.with_cell(
              text: [forecast.pollen.daqi_label, forecast.pollen.guidance].join(" - "),
              html_attributes: { "data-date" => forecast.forecast_for}
            )
          }
        end;
        body.with_row(html_attributes: {class: "temperature"}) do |row|
          row.with_cell(text: 'Temperature')
          @forecasts.map { | forecast|
            row.with_cell(
              text: "#{forecast.temperature.min.round}-#{forecast.temperature.max.round}°C",
              html_attributes: { "data-date" => forecast.forecast_for}
            )
          }
        end;
        end; end %>
    </article>
  </div>
</section>
